In [34]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [3]:
credit_card_data=pd.read_csv('/content/creditcard.csv')

In [4]:
credit_card_data.head()

   Time        V1        V2        V3  ...       V27       V28  Amount  Class
0     0 -1.359807 -0.072781  2.536347  ...  0.133558 -0.021053  149.62    0.0
1     0  1.191857  0.266151  0.166480  ... -0.008983  0.014724    2.69    0.0
2     1 -1.358354 -1.340163  1.773209  ... -0.055353 -0.059752  378.66    0.0
3     1 -0.966272 -0.185226  1.792993  ...  0.062723  0.061458  123.50    0.0
4     2 -1.158233  0.877737  1.548718  ...  0.219422  0.215153   69.99    0.0

[5 rows x 31 columns]

In [5]:
credit_card_data.tail()

        Time        V1        V2        V3  ...       V27       V28  Amount  Class
21873  31906  1.285161 -0.701455  0.221870  ...  0.011735  0.000997   39.75    0.0
21874  31906 -0.345979  1.094568  1.282208  ...  0.241997  0.097610    5.99    0.0
21875  31907  1.171852  0.718042 -0.227521  ...  0.055064  0.058347    1.00    0.0
21876  31907  1.209330 -1.130242  1.614261  ...  0.025745  0.028549   40.00    0.0
21877  31907 -0.184653  0.376693  0.632988  ...  0.029255  0.009228     NaN    NaN

[5 rows x 31 columns]

In [6]:
 credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21878 entries, 0 to 21877
Data columns (total 31 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Time    21878 non-null  int64
 1   V1      21878 non-null  float64
 2   V2      21878 non-null  float64
 3   V3      21878 non-null  float64
 4   V4      21878 non-null  float64
 5   V5      21878 non-null  float64
 6   V6      21878 non-null  float64
 7   V7      21878 non-null  float64
 8   V8      21878 non-null  float64
 9   V9      21878 non-null  float64
 10  V10     21878 non-null  float64
 11  V11     21878 non-null  float64
 12  V12     21878 non-null  float64
 13  V13     21878 non-null  float64
 14  V14     21878 non-null  float64
 15  V15     21878 non-null  float64
 16  V16     21878 non-null  float64
 17  V17     21878 non-null  float64
 18  V18     21878 non-null  float64
 19  V19     21878 non-null  float64
 20  V20     21878 non-null  float64
 21  V21     21878 non-null  float64
 22  V22     21878 non-null  float64
 23  V23     21878 non-null  float64
 24  V24     21878 non-null  float64
 25  V25     21878 non-null  float64
 26  V26     21878 non-null  float64
 27  V27     21878 non-null  float64
 28  V28     21878 non-null  float64
 29  Amount  21877 non-null  float64
 30  Class   21877 non-null  float64
dtypes: float64(30), int64(1)
memory usage: 5.2 MB

In [7]:
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    1
Class     1
dtype: int64

In [8]:
credit_card_data['Class'].value_counts()

0.0    21791
1.0       86
Name: Class, dtype: int64

In [9]:
legit=credit_card_data[credit_card_data.Class==0]
fraud=credit_card_data[credit_card_data.Class==1]

In [10]:
print(legit.shape)
print(fraud.shape)

(21791, 31)
(86, 31)

In [11]:
legit.Amount.describe()

count    21791.000000
mean        71.637403
std        204.790148
min          0.000000
25%          5.990000
50%         17.500000
75%         62.120000
max       7879.420000
Name: Amount, dtype: float64

In [12]:
fraud.Amount.describe()

count      86.000000
mean       93.996860
std       260.195133
min         0.000000
25%         1.000000
50%         1.000000
75%        99.990000
max      1809.680000
Name: Amount, dtype: float64

In [13]:
credit_card_data.groupby('Class').mean()

               Time        V1        V2  ...       V27       V28     Amount
Class                                    ...
0.0    16920.948098 -0.207315  0.197324  ...  0.008602  0.005937  71.637403
1.0    17592.162791 -8.792044  6.504115  ...  0.867258  0.096510  93.996860

[2 rows x 30 columns]

Under-Sampling

Sample dataset containing similar distribution of normal transactions and Fraud Transactions.

Number of Fraud Transactions- 86

In [14]:
legit_sample=legit.sample(n=86)

In [15]:
new_dataset=pd.concat([legit_sample,fraud],axis=0)

In [16]:
new_dataset.head()

        Time        V1        V2        V3  ...       V27       V28  Amount  Class
18787  29764 -1.391668 -0.498857  2.403327  ... -0.404044 -0.407058   59.90    0.0
11675  19918  1.148723 -1.382218  0.891321  ...  0.004825  0.049790  156.00    0.0
20994  31402 -0.907907 -0.267539  1.024984  ... -0.860405 -0.395735  202.00    0.0
10335  16461  1.153107  0.834782  0.458709  ... -0.049103  0.005461    2.28    0.0
19498  30329 -0.813151  1.359829  1.346820  ... -0.201548  0.069149    3.71    0.0

[5 rows x 31 columns]

In [17]:
new_dataset.tail()

        Time        V1        V2        V3  ...       V27       V28  Amount  Class
18466  29526  1.102804  2.829168 -3.932870  ...  0.009146  0.153318    0.68    1.0
18472  29531 -1.060676  2.608579 -2.971679  ... -0.130918  0.192177    0.68    1.0
18773  29753  0.269614  3.549755 -5.810353  ...  0.553255  0.402400    0.68    1.0
18809  29785  0.923764  0.344048 -2.880004  ...  0.489035 -0.049729   30.30    1.0
20198  30852 -2.830984  0.885657  1.199930  ... -2.532445  0.311177  104.81    1.0

[5 rows x 31 columns]

In [18]:
new_dataset['Class'].value_counts()

1.0    86
0.0    86
Name: Class, dtype: int64

In [19]:
new_dataset.groupby('Class').mean()

               Time        V1        V2  ...       V27       V28     Amount
Class                                    ...
0.0    16174.441860 -0.153291  0.163435  ... -0.081638  0.088853  69.232326
1.0    17592.162791 -8.792044  6.504115  ...  0.867258  0.096510  93.996860

[2 rows x 30 columns]

Splitting data into features and Targets

In [20]:
X=new_dataset.drop(columns='Class',axis=1)
Y=new_dataset['Class']

In [21]:
print(X)

        Time        V1        V2  ...       V27       V28  Amount
18787  29764 -1.391668 -0.498857  ... -0.404044 -0.407058   59.90
11675  19918  1.148723 -1.382218  ...  0.004825  0.049790  156.00
20994  31402 -0.907907 -0.267539  ... -0.860405 -0.395735  202.00
10335  16461  1.153107  0.834782  ... -0.049103  0.005461    2.28
19498  30329 -0.813151  1.359829  ... -0.201548  0.069149    3.71
...      ...       ...       ...  ...       ...       ...     ...
18466  29526  1.102804  2.829168  ...  0.009146  0.153318    0.68
18472  29531 -1.060676  2.608579  ... -0.130918  0.192177    0.68
18773  29753  0.269614  3.549755  ...  0.553255  0.402400    0.68
18809  29785  0.923764  0.344048  ...  0.489035 -0.049729   30.30
20198  30852 -2.830984  0.885657  ... -2.532445  0.311177  104.81

[172 rows x 30 columns]

In [22]:
print(Y)

18787    0.0
11675    0.0
20994    0.0
10335    0.0
19498    0.0
        ...
18466    1.0
18472    1.0
18773    1.0
18809    1.0
20198    1.0
Name: Class, Length: 172, dtype: float64

Split data into Training and Test Data(75 and 25 percent)

In [23]:
X_train, X_test, Y_train, Y_test=train_test_split(X,Y, test_size=0.25,stratify=Y,random_state=2)

In [24]:
print(X.shape, X_train.shape,X_test.shape)

(172, 30) (129, 30) (43, 30)

Using Logistic Regreesion for Binary Classification

In [35]:
model = LogisticRegression()

In [36]:
model.fit(X_train,Y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

LogisticRegression()

In [37]:
X_train_prediction=model.predict(X_train)
training_data_accuracy=accuracy_score(X_train_prediction,Y_train)

In [38]:
print(training_data_accuracy)

0.9844961240310077

In [39]:
X_test_prediction=model.predict(X_test)
test_data_accuracy=accuracy_score(X_test_prediction,Y_test)

In [41]:
print(test_data_accuracy)

0.9302325581395349